@import url("https://fonts.googleapis.com/css2?family=Maname&display=swap");

.App {
  background-color: #ffd3e4;
  font-family: "Maname", serif;
  font-weight: 400;
  font-style: normal;
  /* background-image: url('../src/photos/background.avif'); */
  min-height: 100vh; /* Ensures the app fills the full height of the viewport */
  display: flex;
  flex-direction: column; /* If needed for layout */
  background-size: contain;
  background-repeat: initial;
  height: 100vh;
  /* width: 100vh; */
}

html,
body,
body > div,
.App {
  height: auto; /* Ensures 100% height for full coverage */
}

/* Ensure the container scrolls vertically */
.container {
  scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
  overflow-y: scroll; /* Allow vertical scrolling */
  height: 100vh; /* Full height of the viewport */
  scroll-behavior: smooth; /* Smooth scrolling */
  margin: 0;
  padding: 0;
}

/* Each section styling */
.section {
  scroll-snap-align: start; /* Snap each section to the start (top of viewport) */
  height: 100vh; /* Each section takes full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
